* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



body {
    background-color: antiquewhite;
    text-align: center;
}

.entete {
    text-align: center;
    font-size: 45px;
    
}

.lien {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: flex-end;
    color: black;
    font-size: 20px;
    padding: 30px;
    border: 2px solid;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
}

.ingrediant {
    background-color: gray;
    border: 2px solid;
}

.etapes {
    background-color: lightyellow;
    border: 2px solid;
}

