* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



body {
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.entete {
    text-align: center;
    font-size: 45px;
    height: 65px;
    width: 400px;
    margin: auto;
    
}
.steak,
.milk,
.burger {
    display: inline-block;
    justify-content: center;
    justify-content: space-around;
    align-items: flex-end;
    color: black;
    font-size: 20px;
    padding: 30px;
    border: 2px solid;
    padding: 20px;
    margin: 30px;
    background-color: antiquewhite;
    border-radius: 17px;
    
}

h2 {
    font-size: 30px;
    text-decoration: underline;
}

.ingrediant {
    background-color: gray;
    border: 2px solid;
}

.etapes {
    background-color: lightyellow;
    border: 2px solid;
}

.description {
    background-color: chocolate;
    border: 2px solid;
}

h1 {
    border: 2px solid;
    margin-left: 850px;
    margin-right: 850px;
    border-radius: 15px;
}

.homep {
    background-color: aliceblue;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 30px;
    border-radius: 20px;
    box-shadow: 0 1em 1em black;
}

footer {
    background-color: grey;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#apropos {
    text-align: left;
}

#description {
    font-size: 10px;
}